{% extends "base.html" %}
{% block content %}
<div class="container mx-auto mt-10 max-w-4xl">
    <h2 class="text-2xl font-bold mb-6">Member Dashboard</h2>
    <div class="grid grid-cols-2 gap-4">
        <a href="{{ url_for('search') }}" class="bg-green-500 text-white p-6 rounded-lg text-center hover:bg-green-600">
            Search Book
        </a>
        <a href="{{ url_for('borrow') }}" class="bg-blue-500 text-white p-6 rounded-lg text-center hover:bg-blue-600">
            Borrow Book
        </a>
        <a href="{{ url_for('logout') }}" class="logout-btn justify-center items-center my-24 px-4 py-2 bg-red-600 text-white font-semibold rounded-md shadow hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-offset-2 transition ease-in-out duration-300">Logout</a>
    </div>
</div>
{% endblock %}